

.form-control.turn{
    width: 50%;
    margin-right: 40px;
}

.control{
    height: 70px;
    overflow: hidden;
    transition: all 0.5s;
}
.control.show-text{
    height: 200px;
    transition: all 0.5;

}
button {
    margin-left: 30px;
}

.container{
    width: 850px;
}
p{
    margin: 25px 10px;
    margin-left: 30px;
}

.show-text .icon{
    transform: rotate(-180deg);
    transition: all 0.5s;
}
.icon{
    margin-right: 30px;
    transition: all 0.5s;
}
.section{
    display: flex;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control{
    border: 1px solid #ccc;

}
.control:hover{
cursor: pointer;
}